{
  "presets": [
    ["@parcel/babel-preset-env", { "useBuiltIns": "usage", "corejs": 3 }],
    "@babel/preset-react",
    "@babel/preset-typescript"
  ],
  "plugins": ["@parcel/babel-plugin-transform-runtime"]
}
